go 1.20

use (
	./01hello
	./02variables
	./03userinput
	./04conversion
	./05mymaths
	./06mytime
	./07mypointers
	./08myarray
	./09slices
	./10maps
	./11mystructs
	./12ifelse
	./13switchcase
	./14loops
	./15functions
	./16methods
	./17defer
	./18files
	./19webrequests
	./20urls
	./21webreqverbs
	./22bitmorejson
	./23mymodules
)
